@import './chips-map.scss';

* { 
    box-sizing: border-box;
}

:host([chip-selected='true']) .container{ 
    color: var(--chips-primary-active);
    border-color: var(--chips-primary-active);
 }

.container{
    min-width:auto;
    max-width: 288px;
    height: 36px;
    background-color: var(--chips-background-color);
    border: 1px solid var(--chips-border-color-disable-text);
    font-size: var(--chips-caption-font-size);
    color:var(--chips-tertiary-color);
    border-radius: var(--chips-border-radius);
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;
    outline: none;

    .label-comman{
        cursor: inherit;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }   
    .label-text{
        @extend .label-comman;
        padding: 12px 16px;
           
    }
    .label-number{
        @extend .label-comman;
        padding: 12px 16px 12px 10px;
        font-weight: var(--chip-font-weight-count);
    }
}
