:host{
    --chips-background-color:var(--neutral);
    --chips-border-color-disable-text: var(--disabled-text);
    --chips-caption-font-size:var(--caption-font-size);
    --chips-tertiary-color:var(--tertiary-text);
    --chips-border-radius:var(--border-radius);
    --chip-font-weight-count:var(--font-weight-semi-bold);
    --chips-primary-active:var(--primary);
    --background-main:#eee;
}
